<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand nav-link"  routerLink="home">Click Master</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"  (click)="collapse()" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="home" (click)="collapse()">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/levels" (click)="collapse()">Play</a>
      </li>
      
    
      <li class="nav-item">
        <a class="nav-link"  routerLink="/instructions" (click)="collapse()">Instructions</a>
      </li>
      <li class="nav-item">
        
          <a *ngIf="service.logged"class="nav-link" >{{service.loggedUser.name}}</a>
        </li>

        <li class="nav-item">
          <app-modal *ngIf="!service.logged" ></app-modal>
        </li>
        

    </ul>
    
  </div>
</nav>

<app-login class="float" *ngIf="(login) && (!service.logged)"></app-login>