<div class="container">
  <div class="row">
    <div>
      <br>
      <div class="jumbotron">
        <h1 class="display-3">How to play</h1>
        <p class="lead">
         Depending on the level, different buttons will apear with different numbers and letters at random,
          click the button while pressing the key that the button has, each level has a fixed number of clicks you have to make,
          but be carefull, if you click a "0" or if the timer runs out, you lose.

        </p>
        <hr class="my-4">
        <p> New levels updated regularly </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg"  routerLink="/levels" role="button">Play now</a>
        </p>
      </div>
    </div>
  </div>
</div>
